## Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

## Distribution / Packaging
dist
__pypackages__/

## Documentation
docs/_build/

## Editors / IDEs
#-JetBrains
.idea/*
.idea_modules
#-VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

## Environment
*.env
.env.*
.venv

## IPython
profile_default/
ipython_config.py


## Logs
*.log
#-installer logs
pip-log.txt
pip-delete-this-directory.txt
#-test/coverage reports
coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

## Misc
.DS_Store
.python-version
.tool-versions

## mypy
.mypy_cache/
.dmypy.json
dmypy.json

##! Exceptions
!scripts/coverage
